<div class="section-hero section-hero-small">
    <div class="hero">
        <div class="container">
            <div class="hero-text">
                <h1> Skills </h1>
                <p> Technology | Resume | About </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder">
    <div class="col-md-9 card-holder">
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Technology Skills</h3>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> About</h3>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Resume</h3>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Recent </li>
                <li class="list-group-item list"> Lye Calculator</li>
                <li class="list-group-item"> Meetup Review</li>
                <li class="list-group-item"> Angular 2</li>
                <li class="list-group-item"> Item 4</li>
                <li class="list-group-item list-group-item-heading"> Quick Access | Contact </li>
                <li class="list-group-item list"> Resume</li>
                <li class="list-group-item list"> 678-933-147</li>
                <li class="list-group-item list"> cristventcode@gmail.com</li>
            </ul>
        </div>
    </div>
</div>

