<div class="section-hero section-hero-small">
    <div class="hero">
        <div class="container">
            <div class="hero-text">
                <h1> Skills </h1>
                <p> Technology | Resume | About </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder">
    <div class="col-md-9 card-holder">
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Experience </h3>
                <hr />
                <h4> Web Content Editor</h4>
                <h5> <b>SoapGoods</b> | June 2014 - Present | Lilburn, Ga</h5>
                <hr />
                <h4> Tutor (Programming Logic and Design)</h4>
                <h5> <b>Freelance</b> | May 2014 - July 2014 | Lawrenceville, Ga</h5>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Skills</h3>
                <hr />
                <ul class="list-group">
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">ASP.NET</li>
                    <li class="list-group-item">JAVASCRIPT</li>
                    <li class="list-group-item">VISUAL STUDIO</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Education </h3>
                <hr />
                <h4>Gwinnett Technical College</h4>
                <h5> <b>AAS - Web Design and Development</b> | January 2014 - April 2017 | Lawrenceville, Ga</h5>
                <hr />
                <h4> Code Career Academy</h4>
                <h5> <b>Full Stack Web Development</b> | December 2016 - June 2017 | Lawrenceville, Ga</h5>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Quick Access | Contact </li>
                <li class="list-group-item list"> Resume</li>
                <li class="list-group-item list"> 678-933-147</li>
                <li class="list-group-item list"> cristventcode@gmail.com</li>
            </ul>
        </div>
    </div>
</div>

