<div class="section-hero section-hero-small">
    <div class="hero">
        <div class="container">
            <div class="hero-text">
                <h1> Projects </h1>
                <p> Source Code | Live Samples</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder">
    <div class="col-md-9 card-holder">
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h4> Music Search </h4>
                <hr />
                <h5>Using AJAX to make REST calls to iTunes API</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
            <div class="card-details">
                <h4> Tictactoe Game </h4>
                <hr />
                <h5>A tictactoe game that has multiple game modes</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
            <div class="card-details">
                <h4> Soap Lye Calculator </h4>
                <hr />
                <h5>A tictactoe game that has multiple game modes</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
            <div class="card-details">
                <h4> Personal Work Assitant </h4>
                <hr />
                <h5>A tictactoe game that has multiple game modes</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
            <div class="card-details">
                <h4> Todo Check List </h4>
                <hr />
                <h5>A tictactoe game that has multiple game modes</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
            <div class="card-details">
                <h4> Winning Number Generator </h4>
                <hr />
                <h5>A tictactoe game that has multiple game modes</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
            <div class="card-details">
                <h4> C# Linked List </h4>
                <hr />
                <h5>A tictactoe game that has multiple game modes</h5>
                <button class="btn btn-sm btn-default">Github</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Quick Access | Contact </li>
                <li class="list-group-item list"> Resume</li>
                <li class="list-group-item list"> 678-933-147</li>
                <li class="list-group-item list"> cristventcode@gmail.com</li>
            </ul>
        </div>
    </div>
</div>

