@model IEnumerable<cristventcode_web.Models.Project>
<div class="section-hero section-hero-small">
    <div class="hero">
        <div class="container">
            <div class="hero-text">
                <h1> Projects </h1>
                <p> Source Code | Live Samples</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder">
    <div class="col-md-9 card-holder">
        @foreach (var project in Model)
        {
            <div class="col-xs-12 col-md-12 card">
                <div class="card-details">
                    <h3> @project.Title</h3>
                    <hr />
                    <p> @project.ShortDescription</p>
                    <a class="btn btn-sm btn-default" href="@project.GithubUrl"> Github Repository</a>
                </div>
            </div>
        }
    </div>
    <div class="col-xs-12 col-md-3 aside-holder">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Quick Access | Contact </li>
                <li class="list-group-item list"> Resume</li>
                <li class="list-group-item list"> 678-933-147</li>
                <li class="list-group-item list"> cristventcode@gmail.com</li>
            </ul>
        </div>
    </div>
</div>

