
@model cristventcode_web.Models.Bio

<div class="section-hero">
    <div class="hero">
        <div class="container">
            <img class="personal-image" src="~/Content/images/personal-image.jpg" alt="personal face image" />
            <div class="hero-text">
                <h1> Cristian Ventura </h1>
                <p> Github | LinkedIn </p>
            </div>
        </div>
    </div>
</div>

<p class="well"> @Model.Email</p>

<div class="col-xs-12 large-holder">
    <div class="col-md-9 card-holder">
        <div class="col-xs-12 col-md-4 card">
            <div class="card-details">
                <h3> Skills </h3>
                <h5> Technology | Resume | About</h5>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
                <button class="btn btn-default btn-info btn-sm"> Resume </button>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 card">
            <div class="card-details">
                <h3> Projects </h3>
                <h5> Source Code | Live Samples</h5>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 card">
            <div class="card-details">
                <h3> Blog </h3>
                <h5> Write Ups | Thoughts | Reviews</h5>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Check This Out</h3>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3> Latest Project</h3>
                <hr />
                <p> This is only sample text. I will write actual text after i get my styling correct.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Recent </li>
                <li class="list-group-item list"> Lye Calculator</li>
                <li class="list-group-item"> Meetup Review</li>
                <li class="list-group-item"> Angular 2</li>
                <li class="list-group-item"> Item 4</li>
                <li class="list-group-item list-group-item-heading"> Quick Access | Contact </li>
                <li class="list-group-item list"> Resume</li>
                <li class="list-group-item list"> 678-933-147</li>
                <li class="list-group-item list"> cristventcode@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
