
@model cristventcode_web.Models.Profile

<div class="section-hero">
    <div class="hero">
        <div class="container">
            <img class="personal-image" src="~/Content/images/personal-image.jpg" alt="personal face image" />
            <div class="hero-text">
                <h1> Cristian Ventura </h1>
                <p> Web Developer | Martial Artist</p>
            </div>
        </div>
    </div>
</div>



<div class="col-xs-12 large-holder no-padding">
    <div class="col-md-9 card-holder clearfix no-padding">
        <div class="col-xs-12 col-md-4 card">
            <div class="card-details">
                <h3> <a>Resume</a></h3>
                <h5> Skills | Resume | About</h5>
                <hr />
                <h4> This is only sample text. I will write actual text after i get my styling correct.</h4>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 card">
            <div class="card-details">
                <h3> <a>Projects</a></h3>
                <h5> Source Code </h5>
                <hr />
                <h4> This is only sample text. I will write actual text after i get my styling correct.</h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 card">
            <div class="card-details">
                <h3> <a>Accounts</a></h3>
                <h5> Github | LinkedIn </h5>
                <hr />
                <p class="text-center link-tag-holder/;">
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://github.com/cristventcode"><i class="fa fa-github fa-2x" aria-hidden="true"></i> </a>
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://github.com/cristventcode"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
                </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3>Check This Out</h3>
                <h5> Coming Soon</h5>
                <hr />
                <h4>Read about my latest interests</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder no-padding">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Quick Access | Contact </li>
                <li class="list-group-item list"> Resume</li>
                <li class="list-group-item list"> 678-933-1047</li>
                <li class="list-group-item list"> cristventcode@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
