
<div class="section-hero">
    <div class="hero">
        <div class="container">
            <img class="personal-image" src="~/Content/images/personal-image-small.jpg" alt="personal face image" />
            <div class="hero-text">
                <h1> Cristian Ventura </h1>
                <p> Web Developer </p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder no-padding">
    <div class="col-md-9 card-holder clearfix no-padding">
        <div class="col-xs-12 col-sm-6 card">
            <div class="card-details">
                <h3> <a href="Home/Skills">Skills</a></h3>
                <h5> Technology | Resume | About</h5>
                <hr />
                <h4> Get to know more about me and review my <a href="Home/Skills">skills</a> page. Here you can find my current technology use and a copy of my resume.</h4>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 card">
            <div class="card-details">
                <h3> <a href="Home/Projects">Projects</a></h3>
                <h5> Source Codes </h5>
                <hr />
                <h4> Care to check out my latest Github projects ? Take a look at my <a href="Home/Projects">projects</a> page to find links to my project Github repositories.</h4>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 card">
            <div class="card-details">
                <h3>Check This Out</h3>
                <h5> Coming Soon</h5>
                <hr />
                <h4>Read about my latest interests</h4>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 card">
            <div class="card-details">
                <h3>Writings</h3>
                <h5> Coming Soon</h5>
                <hr />
                <h4>Writings and thoughts about my latest web development interests</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder no-padding">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Resume | Contact </li>
                <li class="list-group-item list"> <i class="fa fa-phone contact-icons" aria-hidden="true"></i>678-933-1047</li>
                <li class="list-group-item list"> <i class="fa fa-envelope contact-icons" aria-hidden="true"></i>cristventcode@gmail.com</li>
                <li class="list-group-item list"> <a href="~/Content/resume/CristianVentura-resume.pdf"><i class="fa fa-file contact-icons" aria-hidden="true"></i>Resume</a></li>
                <li class="list-group-item list-group-item-heading"> Account Links </li>
                <li class="list-group-item list text-center">
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://github.com/cristventcode"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> </a>
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://www.linkedin.com/in/cristian-ventura-485074139/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
                </li>
                <li class="list-group-item list-group-item-heading"> Latest Github Repository </li>
                <li class="list-group-item list"> <a href="https://github.com/cristventcode/LinkedList"><i class="fa fa-file-text contact-icons" aria-hidden="true"></i>C# Linked List</a></li>
            </ul>
        </div>
    </div>
</div>
