<div class="section-hero section-hero-small">
    <div class="hero">
        <div class="container">
            <div class="hero-text">
                <h1> Projects </h1>
                <p> Source Code | Live Samples</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 large-holder no-padding">
    <div class="col-md-9">
        <div class="col-xs-12 col-md-12 no-padding">
            <div class="card-details">
                <h3> Music Search </h3>
                <hr />
                <p>Using iTunes data by making a REST call using AJAX. Search for your favorite artist</p>
                <a href="https://github.com/cristventcode/restProject" class="btn btn-sm btn-default">Github</a>
            </div>
            <div class="card-details">
                <h3> Tictactoe Game </h3>
                <hr />
                <p>Simple tictactoe game that allows for different modes of play. Up to date browsers are recommened.</p>
                <a href="https://github.com/cristventcode/tictactoeGame" class="btn btn-sm btn-default">Github</a>
            </div>
            <div class="card-details">
                <h3> Soap Lye Calculator </h3>
                <hr />
                <p>
                    Lye calculator that helps you determine how much lye you need for your next soap recipe. Edit
                    Add topics
                </p>
                <a href="https://github.com/cristventcode/LyeCalculator" class="btn btn-sm btn-default">Github</a>
            </div>
            <div class="card-details">
                <h3> Personal Work Assistant </h3>
                <hr />
                <p>Web application that can keep a history of my work days and track stock sheets. Work days can be printed out and turned in.</p>
                <a href="https://github.com/cristventcode/WorkAssistantWebApp" class="btn btn-sm btn-default">Github</a>
            </div>
            <div class="card-details">
                <h3> Todo Check List </h3>
                <hr />
                <p>Using TypeScript and Angular 2 to create a simple todo check list.</p>
                <a href="https://github.com/cristventcode/firstAngularProject-todo-list" class="btn btn-sm btn-default">Github</a>
            </div>
            <div class="card-details">
                <h3> Winning Number Generator </h3>
                <hr />
                <p>Input your min and max number of people, then generate a winning number. You can have one winner or go on to select multpile winners</p>
                <a href="https://github.com/cristventcode/randNumGenerator" class="btn btn-sm btn-default">Github</a>
            </div>
            <div class="card-details">
                <h3> C# Linked List </h3>
                <hr />
                <p>Using an excel file to fill in a linked list, seeing how a linked list behaves versus an array.</p>
                <a href="https://github.com/cristventcode/LinkedList" class="btn btn-sm btn-default">Github</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 aside-holder no-padding">
        <div class="card-details">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading"> Resume | Contact </li>
                <li class="list-group-item list"> <i class="fa fa-phone contact-icons" aria-hidden="true"></i>678-933-1047</li>
                <li class="list-group-item list"> <i class="fa fa-envelope contact-icons" aria-hidden="true"></i>cristventcode@gmail.com</li>
                <li class="list-group-item list"> <a href="~/Content/resume/CristianVentura-resume.pdf"><i class="fa fa-file contact-icons" aria-hidden="true"></i>Resume</a></li>
                <li class="list-group-item list-group-item-heading"> Account Links </li>
                <li class="list-group-item list text-center">
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://github.com/cristventcode"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i> </a>
                    <a class="skill-tag link-tag" target="_blank" style="color: white" href="https://www.linkedin.com/in/cristian-ventura-485074139/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> </a>
                </li>
                <li class="list-group-item list-group-item-heading"> Latest Github Repository </li>
                <li class="list-group-item list"> <a href="https://github.com/cristventcode/LinkedList"><i class="fa fa-file-text contact-icons" aria-hidden="true"></i>C# Linked List</a></li>
            </ul>
        </div>
    </div>
</div>

